<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../layout/head.ejs') %>
    </head>
    <body>
        <h1><%= myChosenBook.title %></h1>
        <p><%= myChosenBook.description %></p>
        <p><%= myChosenBook.author %></p>
        <img src="<%= myChosenBook.image_url %>" alt="<%= myChosenBook.title %>">
        <%- include('../../layout/edit.ejs') %>
        <h2>Update Book</h2>
        <form action="/delete/<%= myChosenBook.id %>?_method=DELETE" method="post">
            <input type="hidden" name="id" value="<%= myChosenBook.id %>">
          <button type="submit">Delete Book</button>
        </form>
        
    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
    </body>
</html>